#obj0{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj1{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj2{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj3{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj4{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj5{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj6{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}

#obj7{  border-radius: 10px;
  text-align: center;
  margin-right: 60em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 835px;
  margin-left: -34px;
  margin-top: -24px;
}